p.powered-by {
  margin: 0;
}

footer.site-footer {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.dark pre, .dark code {
  background-color: #1c1d21;
}

.card-title.text-muted {
  color:rgba(0, 0, 0, 0.7) !important;
}

div.cc-window.cc-banner.cc-type-info.cc-bottom {
  background-color: rgba(11, 152, 11, 0.8);
}

.featurette-icon img.svg-icon {
  filter: invert(26%) sepia(89%) saturate(3776%) hue-rotate(117deg) brightness(104%) contrast(91%);
}

table {
  overflow-x: auto;
}